<appSettings>
  <add key="URL" value="http://www.store.demoqa.com"/>
  <add key="TestDataSheetPath" value="C:\Users\tgigova\Desktop\Working\Working\NUnit.TestsFirstTry\NUnit.RegistrationForm\DataBase\"/>
  <add key="Logs" value="C:\Users\tgigova\Desktop\Working\Working\NUnit.TestsFirstTry\NUnit.RegistrationForm\DataBase\"/>
</appSettings>
